@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700|Lato:700,400,300);

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 550px /* total footer height + 50px margin*/;
}

.row ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.row ul li {
    background-image: url('/img/star-16x16.png');
    background-repeat: no-repeat;
    background-position: 0px 6px;
    padding-left: 24px;
}

p, li {
  font-weight: 300;
  font-size: 14pt;
}

body {
  background-color: white;
}

a {
  color: #18BC9C;
  font-weight: 400;
}

h1 {
  margin-left: -0.1em; 
}
  

a:hover,
a:focus {
  color: black;
  text-decoration: none;
}

a.navbar-brand {
   font-weight: 700;
   font-family: "Quicksand", "Lato";
}

.navbar-default .navbar-nav a {
   font-weight: 300;
   font-family: "Quicksand", "Lato";
}
/*
.btn-default {
  border: none;
  background-color: #AE0000;
}
*/
.navbar-default .navbar-nav > .active > a {
  background-color: #AE0000;
}

/*.btn-default:hover,*/
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #BE0000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.text-muted {
  color: rgba(174, 51, 51, 1);
}

.navbar {
  margin-bottom: 0px;
}

.lead {
  font-size: 14pt;
}

.jumbotron {
 background-color: #eee;
 padding-bottom: 0;
}

@media (max-width: 767px) {

 .jumbotron {
  padding-left: 0;
 }
 #contact-triangle {
  display: none;
 }
}

#footer {
  color: white;
  margin-bottom: 0;
  margin-top: 0px;
  background-color: #2C3E50;
  height: 150px;
  width: 100%;
  bottom: 0px;
  position: absolute;
}

#supported {
  bottom: 150px;
  position: absolute;
  height: 350px;
}

#footer a, 
#footer p {
  color: white;
  font-size: 12pt;
}

#footer a:hover,
#footer a:focus {
  color: white;
  text-decoration: underline;
}

textarea,
.input-group {
  margin-bottom: 1em;
}

.instructions img {
  margin: 1em;
}

.post:not(:last-child) {
  margin-bottom: 7em; 
}

.carousel-indicators li {
  border: 1px solid #2C3E50;
}

.carousel-indicators .active {
  background-color: #2C3E50;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-indicators {
  bottom: 0px;
}

.img-caption {
  text-align:center;
  opacity:0.7;
  font-style:italic;
  font-size:14px;
  margin-top:15px
}

.latest-news {
  padding-top: 1em;
  background-color: #D4D6D8;
  margin: 30px -30px 0 -30px;
}

.latest-news  a {
  text-align: center; 
  font-size: 23px;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
  color: inherit;
}

div.linux-download-links {
  display: inline-block;
}

.linux-download-links a {
  display: block;
}

.download-archlinux img {
  height: 19px; /* same as FA icon*/
}

.download-archlinux {
  text-align: left;
  color: white;
  background-color: #0088cc;
}

.download-archlinux:hover {
  background-color: #006699;
}
