<script type="text/javascript" src="/socialshareprivacy/jquery.socialshareprivacy.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($){
    if($('#socialshareprivacy').length > 0){
      $('#socialshareprivacy').socialSharePrivacy({
        "css_path"  : "/socialshareprivacy/socialshareprivacy.css",
        "lang_path" : "/socialshareprivacy/lang/",
        "language"  : "en",
        services : {
	    facebook : {
		'perma_option' : 'off'
	    }, 
	    twitter : {
		'perma_option' : 'off'
	    },
	    gplus : {
		'perma_option' : 'off'
	    }
	},
      });
    }
  });
</script>