<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mirko Stocker">
    <link rel="shortcut icon" href="/img/favicon.png">

   <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" /> 
    
    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/cevelop.css" rel="stylesheet">
    
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cevelop</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	   
	    {% if page.active == "home" %}
	      <li class="active">
            {% else %}
	      <li>
            {% endif %}
		<a href="/">Home</a>
	      </li>
	      	   
	    {% if page.active == "news" %}
	      <li class="active">
            {% else %}
	      <li>
            {% endif %}
		<a href="/news">News</a>
	      </li>
	      	   
	    {% if page.active == "about" %}
	      <li class="active">
            {% else %}
	      <li>
            {% endif %}
		<a href="/about">About</a>
	      </li>
	      
	    {% if page.active == "download" %}
	      <li class="active">
            {% else %}
	      <li>
            {% endif %}
		<a href="/download">Download</a>
	      </li>
		
	    {% if page.active == "features" %}
	      <li class="active">
            {% else %}
	      <li>
            {% endif %}
		<a href="/features">Features</a>
	      </li>
	      
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a style="padding-bottom: 0; padding-top: 10px; padding-left: 5px;" href="/"><img class="" style="width: 140px;" src="{{ site.logo-small }}" /></a></li>
          </ul>
        </div>
      </div>
    </div>
    
    {{ content }}

    <div id="supported" class="jumbotron" style="margin-top: 100px; margin-bottom: 0px; width: 100%">
      <div class="container">
        <p>
          <h4 style="text-align: center;">Developed within the context of the REPARA project, co-funded by the European Commission within the Seventh Framework Programme</h4>
          <div style="text-align: center; padding-top: 20px;">
            <a href="http://repara-project.eu/"><img src="/img/repara.png" style="max-width: 30%; padding-right: 1em;" /></a>
            <img src="/img/fp7.png" width="200px" style="max-width: 30%; padding-right: 1em;"/>
            <a href="http://www.hsr.ch/"><img src="/img/hsr.jpg" width="250px" style="max-width: 30%" /></a>
          </div>
        </p>
      </div>
    </div>
    <footer id="footer" class="jumbotron" >
      <div class="container">
        <p class="pull-right">
        <a href="https://twitter.com/cevelop" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @cevelop</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</p>
        <p>&copy; <a href="http://ifs.hsr.ch">2014 Institute for Software</a> &ndash; <a href="/contect"><i class="fa fa-envelope-o"></i> Contact Us</a> &ndash; <a href="/contect"><i class="fa fa-bug"></i> Bug Reports</a> &ndash; <a href="/license"><i class="fa fa-file-text-o"></i> License</a></p>
      </div>
    </footer>

     <a href="/contact"> <img style="border: 0; position: fixed; right: 0; bottom:0; z-index: 9000" src="/img/contact.png"></a> 
        
    <!-- ################ -->
    <!-- Piwik Tracking Code -->
    <!-- ################ -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setCookieDomain", "*.cevelop.com"]);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
	var u=(("https:" == document.location.protocol) ? "https" : "http") + "://log.hsr.ch/";
	_paq.push(["setTrackerUrl", u+"piwik.php"]);
	_paq.push(["setSiteId", "81"]);
	var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
	g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
  </body>
</html>
